################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/HtmlAgilityPack.1.8.10
/DataScraper/bin/Debug
/.vs/DataScraper/v15/Server/sqlite3
/DataScraper/obj/Debug
